@import url('@/style/mixins/hairline.less');

@cell-group-cls: ~'@{prefix}-cell-group';
@cell-cls: ~'@{prefix}-cell';

page {
  --cell-group-title-color: var(--color-grey-600);
  --cell-group-title-padding: var(--size-md) var(--size-md) var(--size-xs);
  --cell-group-title-size: var(--size-md);
  --cell-group-title-line: var(--size-4);
  --cell-group-inset-title-padding: var(--size-md) var(--size-md) var(--size-3) var(--size-xl);
  --cell-group-inset-padding: var(--size-none) var(--size-md);
  --cell-group-inset-radius: var(--radius-lg);

  --cell-vertical-padding: var(--size-md);
  --cell-horizontal-padding: var(--size-md);
  --cell-text-size: var(--size-md);
  --cell-text-color: var(--color-text);
  --cell-line: var(--size-6);
  --cell-background: var(--color-section);
  --cell-border-color: var(--color-border);
  --cell-active-color: var(--color-active);
  --cell-large-title-size: var(--size-lg);
  --cell-large-value-size: var(--size-lg);
  --cell-large-label-size: var(--size-md);
  --cell-large-vertical-padding: var(--size-md);
  --cell-value-color: var(--color-grey-600);
  --cell-value-text-align: right;
  --cell-icon-color: var(--color-text-base);
  --cell-right-icon-color: var(--color-grey-500);
  --cell-right-icon-size: var(--size-md);
  --cell-label-color: var(--color-grey-600);
  --cell-label-size: var(--size-sm);
  --cell-label-line: var(--cell-line);
  --cell-label-margin-top: 6rpx;
  --cell-required-color: red;
}

.@{cell-group-cls} {
  background-color: var(--cell-background);

  &__title {
    color: var(--cell-group-title-color);
    font-size: var(--cell-group-title-size);
    line-height: var(--cell-group-title-line);
    padding: var(--cell-group-title-padding);

    &--inset {
      padding: var(--cell-group-inset-title-padding);
    }
  }

  &--inset {
    border-radius: var(--cell-group-inset-radius);
    overflow: hidden;
  }

  &--shrink {
    margin: var(--cell-group-inset-padding);
  }
}

.@{cell-cls} {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: var(--cell-vertical-padding);
  padding-bottom: var(--cell-vertical-padding);
  font-size: var(--cell-text-size);
  color: var(--cell-text-color);
  line-height: var(--cell-line);
  background-color: var(--cell-background);
  box-sizing: border-box;

  &:after {
    .hairline-bottom(var(--cell-border-color));
  }

  &--borderless:after {
    display: none;
  }

  &--shrink {
    padding-left: var(--cell-horizontal-padding);
    padding-right: var(--cell-horizontal-padding);

    &:after {
      left: var(--cell-horizontal-padding);
      right: var(--cell-horizontal-padding);
    }
  }

  &__title {
    font-weight: var(--weight-medium);
  }

  &__label {
    margin-top: var(--cell-label-margin-top);
    font-size: var(--cell-label-size);
    line-height: var(--cell-label-line);
    color: var(--cell-label-color);
  }

  &__value {
    overflow: hidden;
    vertical-align: middle;
    text-align: var(--cell-value-text-align);
    color: var(--cell-value-color);
    word-wrap: break-word;
    word-break: break-all;
  }

  &__title,
  &__value {
    flex: 1;
    min-width: 0;
  }

  &__left-icon,
  &__right-icon {
    display: flex;
    align-items: center;
    height: var(--cell-line);
    line-height: var(--line-none);
  }

  &__left-icon {
    color: var(--cell-icon-color);
    vertical-align: middle;
    margin-right: var(--size-2);
  }

  &__right-icon {
    color: var(--cell-right-icon-color);
    font-size: var(--cell-right-icon-size);
    margin-left: 8rpx;
  }

  &--clickable&__hover {
    background-color: var(--cell-active-color);
  }

  &--required {
    overflow: visible;

    &:before {
      position: absolute;
      content: '*';
      left: var(--cell-horizontal-padding);
      margin-left: calc(var(--size-2) * -1);
      font-size: var(--cell-size);
      color: var(--cell-required-color);
    }
  }

  &--center {
    align-items: center;
  }

  &--large {
    padding-top: var(--cell-large-vertical-padding);
    padding-bottom: var(--cell-large-vertical-padding);

    .@{cell-cls} {
      &__title {
        font-size: var(--cell-large-title-size);
      }

      &__value {
        font-size: var(--cell-large-value-size);
      }

      &__label {
        font-size: var(--cell-large-label-size);
      }
    }
  }
}
